RewriteEngine on
RewriteRule ^login?$ login.php [L]
RewriteRule ^([0-9a-zA-Z]+)?$ index.php?menu=$1 [L]
RewriteRule ^([0-9a-zA-Z]+)/([0-9]+)$ index.php?menu=$1&page=$2 [L]
RewriteRule ^([0-9a-zA-Z]+)/search/([0-9a-zA-Z]+)$ index.php?menu=$1&keyword=$2 [L]
RewriteRule ^([0-9a-zA-Z]+)/search/([0-9a-zA-Z]+)/([0-9]+)$ index.php?menu=$1&keyword=$2&page=$3 [L]
RewriteRule ^([0-9a-zA-Z]+)/([a-zA-Z]+)$ index.php?menu=$1&action=$2 [L]
RewriteRule ^([0-9a-zA-Z]+)/([a-zA-Z]+)/([0-9]+)$ index.php?menu=$1&action=$2&result=$3 [L]
